.hero-unit
  .container-fluid
    .row-fluid
      .span6
        %h2= @customer.name
        %p= @customer.address.gsub(/\n/, '<br />').gsub(/\r/, '')
      .span6
        .row-fluid
          %h3.span4 Billable:
          %ul.span8.unstyled
            - @billables.each do |b|
              %li= b
        .row-fluid
          %h3.span4 Receivable:
          %ul.span8.unstyled
            - @receivables.each do |r|
              %li= r

.page-header
  %h1 Transactions
%table.table.table-striped
  %thead
    %tr
      %th.span2 Date
      %th Project
      %th.span2 Type
      %th.span2 Account
      %th.span2.pull-right Amount
  %tbody
    - @transactions.each do |t|
      %tr
        %td{:rowspan => t[:postings].size}= t[:date]
        %td{:rowspan => t[:postings].size}= t[:payee]
        %td{:rowspan => t[:postings].size}= transaction_type_to_s(t[:type])
        %td= posting_type_to_s(classify_posting(t[:postings][0]))
        %td{:class => (amount_negative?(t[:postings][0]["amount"]) ? "amount-negative" : "amount-positive")}= t[:postings][0]["amount"]
      - t[:postings][1..-1].each do |p|
        %tr
          %td= posting_type_to_s(classify_posting(p))
          %td{:class => (amount_negative?(p["amount"]) ? "amount-negative" : "amount-positive")}= p["amount"]
          
        
  